body {
    background-color: black;
}

body.espaescu {
  background-image: url(../images/wallespaescu.png);
  background-size: cover;
  background-position: top;
}

body.puresc {
  background-image: url(../images/wallpuresc.png);
  background-size: cover;
  background-position: top;
}

body.arceus {
  background-image: url(../images/wallarceus.png);
  background-size: cover;
  background-position: top;
}

body.pikaeve {
  background-image: url(../images/wallpikaeve.png);
  background-size: cover;
  background-position: top;
}

body.diaper {
  background-image: url(../images/walldiaper.png);
  background-size: cover;
  background-position: top;
}

header {
    margin: 0px;
    width: 100%;
    height: 110px;
    background-color: #ea7501;
}

nav {
  margin: 0px;
  margin-bottom: 60px;
  width: 100%;
  height: 25px;
  background-color: #f5bb81;
  display: flex;
  justify-content: center ;
}

a.gb {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
}

a.enlaces {
  text-decoration: none;
  margin-top: 2px;
  margin-left: 10px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}

a.enlaces:hover {
  color:#004cff;
  text-shadow: 0px 0px 5px rgb(0, 170, 255);
}

.logo {
  width: 82px;
  transition: all 200ms ease-in;
}

.letra {
  width: 400px;
}

.futer {
  background-color: rgb(51, 51, 51);
  color: white;
  padding: 3px;
}

img {
  margin: auto;
  margin-top: 4px;
}

/* DESPLEGABLE */
button {
  height: 100px;
  background-color: #ea7501;
  border: none;
}

.dropdown {
    width: 370px;
    position: relative;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 300px;
    display: block;
    color: white;
    background-color: #ea7501;
    padding: 5px;
    text-decoration: none;
  }
  .dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #bd0000;
  }

/* OTRAS COSITAS */

p.foter {
  margin-right: 20px;
  margin-left: 20px;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}

.futer2 {
  display: flex;
  justify-content: center;
}

.gb {
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ns {
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ns .hidde5 {
  width: 0px;
}

.rgb {
  width: 250px;
  transition: all 200ms ease-out;
}

.rgb:hover {
  border-radius: 12px;
  transform: scale(1.1);
  box-shadow: 0px 0px 70px #ff0000;
  transition: all 200ms ease-in;
}

.agb {
  width: 250px;
  transition: all 200ms ease-out;
}

.agb:hover {
  border-radius: 12px;
  transform: scale(1.1);
  box-shadow: 0px 0px 70px #004cff;
  transition: all 200ms ease-in;
}

.amgb {
  width: 250px;
  transition: all 200ms ease-out;
}

.mamgb {
  width: 250px;
  transition: all 200ms ease-out;
}

.amgb:hover {
  border-radius: 12px;
  transform: scale(1.1);
  box-shadow: 0px 0px 70px #eeff00;
  transition: all 200ms ease-in;
}

.mamgb:hover {
  border-radius: 12px;
  transform: scale(1.1);
  box-shadow: 0px 0px 70px #f9ff5a;
  transition: all 200ms ease-in;
}

.vgb {
  width: 250px;
  transition: all 200ms ease-out;
}

.vgb:hover {
  border-radius: 12px;
  transform: scale(1.1);
  box-shadow: 0px 0px 70px #6fff00;
  transition: all 200ms ease-in;
}

.ogb {
  width: 250px;
  transition: all 200ms ease-out;
}

.ogb:hover {
  border-radius: 12px;
  transform: scale(1.1);
  box-shadow: 0px 0px 70px #ffbf00;
  transition: all 200ms ease-in;
}

.pgb {
  width: 250px;
  transition: all 200ms ease-out;
}

.pgb:hover {
  border-radius: 12px;
  transform: scale(1.1);
  box-shadow: 0px 0px 70px #aaa2a2;
  transition: all 200ms ease-in;
}

.cgb {
  width: 250px;
  transition: all 200ms ease-out;
}

.cgb:hover {
  border-radius: 12px;
  transform: scale(1.1);
  box-shadow: 0px 0px 70px #00e1ff;
  transition: all 200ms ease-in;
}

.bgb {
  width: 250px;
  transition: all 200ms ease-out;
}

.bgb:hover {
  border-radius: 12px;
  transform: scale(1.1);
  box-shadow: 0px 0px 70px #0099ff;
  transition: all 200ms ease-in;
}

.ngb {
  width: 250px;
  transition: all 200ms ease-out;
}

.ngb:hover {
  border-radius: 12px;
  transform: scale(1.1);
  box-shadow: 0px 0px 70px #ff7300;
  transition: all 200ms ease-in;
}

.mogb {
  width: 250px;
  transition: all 200ms ease-out;
}

.mogb:hover {
  border-radius: 12px;
  transform: scale(1.1);
  box-shadow: 0px 0px 70px #9d00ff;
  transition: all 200ms ease-in;
}

.nagb {
  width: 250px;
  transition: all 200ms ease-out;
}

.nagb:hover {
  border-radius: 12px;
  transform: scale(1.1);
  box-shadow: 0px 0px 70px #ff7300;
  transition: all 200ms ease-in;
}

.evegb {
  width: 250px;
  transition: all 200ms ease-out;
}

.evegb:hover {
  border-radius: 12px;
  transform: scale(1.1);
  box-shadow: 0px 0px 70px #b65e17;
  transition: all 200ms ease-in;
}

.rosagb {
  width: 250px;
  transition: all 200ms ease-out;
}

.rosagb:hover {
  border-radius: 12px;
  transform: scale(1.1);
  box-shadow: 0px 0px 70px #ff00d9;
  transition: all 200ms ease-in;
}

.hidde1 {
  width: 60px;
}

.hidde2 {
  width: 360px;
}

.hidde3 {
  width: 250px;
}

label {
  margin-left: 6px;
  margin-top: 2px;
  color: white;
  font-weight: bolder;
}

img.blaziken {
  margin-top: 20px;
  width: 95%;
  display: flex;
}

hr.responsive {
  display: none;
}

label.responsive2 {
  display: none;
}

.logos {
  display: none;
}

/* CSS EMULADORES */

.emuladores {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 80px;
}

.hidemula {
  opacity: 0;
  height: 100px;
  width: 100px;
}

/* CSS PAGINAS PARA JUEGOS DE SWITCH */

main.switch {
  padding: 3px;
  border-radius: 10px;
  background-color: rgba(40, 40, 40, 0.799);
  margin: 25px;
  margin-bottom: 65px;
}

.moto { 
  display: flex;
  margin: 10px;
}

.miti {
  width: 30%;
  justify-self: start;
  transition: all 250ms ease-in-out;
}

.miti:hover {
  transform: scale(1.01);
  border-radius: 10px;
  transition: all 250ms ease-in-out;
}

div.moto label {
  margin-top: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13.5px
}

div.moto a {
  color: lightskyblue;
}

div.moto a:hover {
  color: #004cff;
}

div.moto a:active {
  color: #ff0000;
}

div.moto a:visited {
  color: lightskyblue;
}

/* RESPONSIVE */
@media screen and (max-width: 1300px) {

.logos {
  display: flex;
  margin-bottom: 30px;
}

div.logos img {
  width: 60px;
}

label.responsive2 {
  display: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 20px;
  margin-bottom: 30px;
}

.emuladores {
  display: none;
}

a.enlaces {
  margin-top: 5px;
  margin-left: 3px;
  font-size: 10.9px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

label {
  margin-top: 5px;
  margin-left: 2px;
  margin-right: 2px;
  font-size: 12px;
}

.gb {
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  flex-direction: column;
}

.emuladores {
    align-items: center;
    justify-content: center;
    margin-top: -15px;
    flex-direction: column;
}

div.gb img {
  margin-top: 20px;
  width: 250px;
}

div.ns img {
  width: 0px;
}

.hidde1 {
  display: none;
  width: 0px;
}

.hidde2 {
  display: none;
  width: 0px;
}

.hidde3 {
  display: none;
  height: 0px;
}

footer {
  display: flex;
  flex-direction: column;
}

.futer {
  flex-direction: column;
}

.futer2 {
  flex-direction: column;
}

hr.responsive {
  display: block;
  margin-bottom: 60px;
}

}

/* SCROLLBAR */
body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.233);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid rgb(255, 136, 0);  /* creates padding around scroll thumb */
}